.container {
    display: flex;
    gap: 20px;
}

.draggables {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.draggable {
    width: 80%;
    height: 50px;
    background-color: lightblue;
    /* text-align: center; */
    line-height: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    cursor: grab;
    /* width: 100%; Adjust the width as per your layout */
    word-wrap: break-word; /* Ensures long text breaks onto the next line */
    overflow-wrap: break-word; /* Ensures text stays within the container */
    white-space: normal; /* Allows the text to wrap onto the next line */
}

.dropzone {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dropzone div {
    background-color: lightgreen;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
